# coding=utf-8

from wechat_sdk import WechatConf

conf = WechatConf(
    token = 'your-token',
    appid = 'your-appid',
    appsecret = 'your-appsecret',
    #enctypt_mod = 'safe', # normal/compatible/safe -> 明文/兼容/安全
    #encoding_aes_key = 'your-encoding-aes-key',
)
